@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "poppins", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://use.typekit.net/sow1cek.css);
  }
}
