<nav class="fixed top-0 left-0 right-0 hover:bg-white/75 z-10">
  <ul class="flex justify-end mr-20 gap-20 p-2">
    <li class="font-bold hover:underline decoration-solid text-textc">
      <a href="#Comp">Kompetencer</a>
    </li>
    <li class="font-bold hover:underline decoration-solid text-textc">
      <a href="#Project">Projekter</a>
    </li>
    <li class="font-bold hover:underline decoration-solid text-textc">
      <a href="#Link">Kontakt</a>
    </li>
  </ul>
</nav>
