<nav class="fixed top-0 left-0 right-0 z-10 transition ease-in duration-300">
  <ul
    class="flex justify-center gap-8 py-2 md:justify-end md:mr-36 md:gap-12 md:p-2"
  >
    <li
      class="font-bold md:hover:underline md:decoration-solid text-textc font-pop"
    >
      <a href="#Om">Om</a>
    </li>
    <li
      class="font-bold md:hover:underline md:decoration-solid text-textc font-pop"
    >
      <a href="#Comp">Kompetencer</a>
    </li>
    <li
      class="font-bold md:hover:underline md:decoration-solid text-textc font-pop"
    >
      <a href="#Project">Projekter</a>
    </li>
    <li
      class="font-bold md:hover:underline md:decoration-solid text-textc font-pop"
    >
      <a href="#Link">Kontakt</a>
    </li>
  </ul>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const header = document.querySelector("nav");

    window.addEventListener("scroll", function () {
      const compSectionHeight = document.getElementById("Om").offsetHeight;
      const scrollPosition = window.scrollY;

      if (scrollPosition >= compSectionHeight - header.offsetHeight) {
        header.classList.add("bg-backg");
      } else {
        header.classList.remove("bg-backg");
      }
    });
  });
</script>
