---
import { Image } from "astro:assets";
import Git from "../assets/images/git.svg";
import Linked from "../assets/images/linked.svg";
import Mail from "../assets/images/mail.png";
---

<section id="Link" class="mb-10">
  <h2 class="text-center text-3xl font-bold my-10">Kontakt</h2>
  <div class="flex items-center justify-center gap-16">
    <a href="https://github.com/KamillaHA" target="blank_"
      ><Image src={Git} alt="Link til GitHub" /></a
    >
    <a
      href="https://www.linkedin.com/in/kamilla-huhnke-andersen-1361751b2/"
      target="blank_"><Image src={Linked} alt="Link til LinkedInd" /></a
    >
    <a href="mailto:kamillahuhnke@me.com" target="blank_"
      ><Image src={Mail} alt="Link til mail" /></a
    >
  </div>
</section>
