<section id="Project" class="mb-16 md:mb-20">
  <h2
    class="text-center text-3xl font-bold mt-16 md:mt-28 text-textc underline decoration-solid font-pops"
  >
    Se tidligere projekter
  </h2>

  <div class="grid md:grid-cols-5 mt-10 text-center">
    <a
      href="https://digitalcleanupdk.netlify.app"
      class="md:text-xl font-bold md:col-start-2 my-4 md:my-10 text-textc underline md:hover:scale-110 decoration-solid font-pops"
      target="blank_">Digital Clean Up Day</a
    >

    <a
      href="https://eksamen-2semester.netlify.app"
      class="md:text-xl font-bold md:col-start-3 my-4 md:my-10 text-textc underline md:hover:scale-110 decoration-solid font-pops"
      target="blank_">Boom Butik</a
    >

    <a
      href="https://karriereradgivning.netlify.app"
      class="md:text-xl font-bold md:col-start-4 my-4 md:my-10 text-textc underline md:hover:scale-110 decoration-solid font-pops"
      target="blank_">CA Karriererådgivning</a
    >
  </div>
</section>
