<section id="Project" class="mb-20">
  <h2
    class="text-center text-3xl font-bold mt-28 text-textc underline decoration-solid font-pops"
  >
    Se tidligere projekter
  </h2>

  <div class="grid grid-cols-5 mt-10 text-center">
    <a
      href="https://digitalcleanupdk.netlify.app"
      class="text-xl font-bold col-start-2 mb-10 mt-10 text-textc hover:underline decoration-solid font-pops"
      target="blank_">Digital Clean Up Day</a
    >

    <a
      href="https://eksamen-2semester.netlify.app"
      class="text-xl font-bold col-start-3 mb-10 mt-10 text-textc hover:underline decoration-solid font-pops"
      target="blank_">Boom Butik</a
    >

    <a
      href="https://karriereradgivning.netlify.app"
      class="text-xl font-bold col-start-4 mb-10 mt-10 text-textc hover:underline decoration-solid font-pops"
      target="blank_">CA Karriererådgivning</a
    >
  </div>
</section>
